<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>Templates Hello World!</title>
</head>
<body>
	<h1 th:inline="text">Hello.v.2</h1>
	<table>
		<tr>
			<th>id</th>
			<th>name</th>
		</tr>
		<!--
        对集合变量hello进行遍历
    -->
		<tr th:each="user : ${hello}">
			<td th:text="${customer.id}"></td>
			<td th:text="${customer.name}"></td>
		</tr>
	</table>
</body>
</html>
